.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
}

.btn__submit {
  margin: 30px 0 20px 0 !important;
  padding: 10px 60px !important;
  border-radius: 25px !important;
  font-weight: 500 !important;
}

.register__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 30px;
  }
}
