.latest h2 {
  margin-bottom: 40px;
}

.latest__lists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 40px;
}

.latest__lists--item {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  width: 280px;
  row-gap: 10px;
  cursor: pointer;
  border: 20px;
}

.latest__button {
  margin-top: auto;
}

.latest__heart {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  margin-top: auto;
  color: red;
}

.singleItem__img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}
