.details {
  margin: 50px 0px;
}

.details__list {
  display: flex;
  align-items: center;
  column-gap: 100px;
  padding: 50px;
}

.details__list--img {
  width: 300px;
  height: 300px;
}

.details__comments {
  display: flex;
  column-gap: 100px;
  margin: 50px;
}
.details__comments--writeComments {
  width: 40%;
}
