.admin {
  margin: 70px 0;
}

.admin__buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 20px;
}

.admin__buttons h3 {
  display: flex;
  align-items: center;
}

.admin__userManagement {
  display: flex;
  align-items: center;
  justify-content: center;
}
