.navbar {
  padding: 15px 0;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  color: #00c378;
  font-weight: 600 !important;
  font-size: 24px !important;
  opacity: 1;
  transition: all 0.3s ease;
  margin-top: -8px;
}
.nav__logo:hover {
  opacity: 0.5;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.nav__list li {
  padding: 0 10px;
  transition: all 0.3s ease;
}
.nav__list li:hover {
  color: #01d986;
}

.nav__items {
  display: flex;
  align-items: center;
}

.nav__items--lan {
  margin-left: -10px;
}
